.right {
    width: 502px;
    position: relative;
}

.global_container {
    max-width: 794px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 232px 502px;
    column-gap: 20px;
}

.loader_wrapper {
    display: flex;
}

.text_loaded {
    margin-left: 10px;
    font-size: 18px;
    color: #2196F3;
}

.ant-spin-spinning {
    position: absolute;
    top: 200px;
    left: 216px;
}

.ant-spin-lg .ant-spin-dot {
    font-size: 42px;
}

.ant-spin-lg .ant-spin-dot i {
    width: 16px;
    height: 16px;
}

.ant-alert-with-description {
    margin-top: 30px;
}

@media (max-width: 786px) {
    .main {
        margin-top: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .left {
        width: 100%;
        grid-row: 1/2;
    }

    .right {
        margin-top: 20px;
        width: 100%;
        grid-row: 2/3;
    }
}

@media (max-width: 540px) {
    .ant-spin-spinning {
        top: 200px;
        left: 145px;
    }
}