.card {
    margin-bottom: 20px;
    max-width: 502px;
    height: 184px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 8px 20px -4px rgba(0, 0, 0, 0.2);
}

.card_header {
    display: flex;
    justify-content: space-between;
}

.card_price {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #2196F3;
}

.card_body_top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.card_body_left,
.card_body_center,
.card_body_right {
    width: 140px;
}

.card_route,
.card_timeTitle,
.card_transfer {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
}

.card_timing,
.card_time,
.card_transferName {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #4A4A4A;
}

@media (max-width: 786px) {
    .card {
        max-width: 100%;
    }

    .card_body_left,
    .card_body_center,
    .card_body_right {
    width: auto;
}
}