.ant-btn {
    height: auto;
}

.button {
    margin-bottom: 50px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2196F3;
}

.button span {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}